<!doctype html>
<html lang="en" ng-app="peopleRegister">

<head>
  <meta charset="utf-8">
  <title>People register</title>
</head>

<body ng-controller="PeopleCtrl">
  <h1>Create new user</h1>

  <form>
    <div>
      <label for="name">Nombre:</label>
      <input id="name" ng-model="person.name" placeholder="Nombre" />
    </div>
    <div>
      <label for="lastName">Apellidos:</label>
      <input id="lastName" ng-model="person.lastName" placeholder="Apellidos" />
    </div>
    <div>
      <label for="email">E-mail:</label>
      <input id="email" ng-model="person.email" placeholder="Email" />
    </div>
    <div>
      <label for="phone">Celular:</label>
      <input id="phone" ng-model="person.phone" placeholder="Celular" />
    </div>
    <button type="submit" ng-click="createNewPerson()">Guardar</button>
    <button type="reset">Borrar</button>
  </form>

  <h1>Registros</h1>
  <table>
    <tr>
      <th>Nombre</th>
      <th>Apellidos</th>
      <th>Email</th>
      <th>Celular</th>
      <th>Acciones</th>
    </tr>
    <tr ng-repeat="person in people">
      <td>{{person.name}}</td>
      <td>{{person.lastName}}</td>
      <td>{{person.email}}</td>
      <td>{{person.phone}}</td>
      <td>
        <button type="button" ng-click="deletePerson(person)">Eliminar</button>
      </td>
    </tr>
  </table>

  <script src="//cdn.firebase.com/js/client/2.2.2/firebase.js"></script>
  <script src="lib/angular.min.js"></script>
  <script src="lib/angularfire.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/peopleCtrl.js"></script>
</body>

</html>
